@font-face {
  font-family: sketch-bold;
  src: url(CabinSketch-Bold.ttf);
}
@font-face {
  font-family: sketch-regular;
  src: url(CabinSketch-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: sketch-regular;
  font-size: 20px;
  font-weight: 200;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(244, 245, 245, 0.178);
}

h1 {
  font-family: sketch-bold;
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
}

body,
.container,
.sidebar-left,
.color-picker,
.reset,
.main,
.box-options {
  display: flex;
}

body {
  min-height: 100vh;
  flex-direction: column;
}

.title,
.sidebar-left,
.main,
#resetBtn {
  margin: 10px;
  border-radius: 15px;
  background-color: rgba(238, 240, 241, 0.233);
}

.title,
.sidebar-left,
.main,
.whiteboard,
.sidebar-left .option,
#resetBtn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar-left,
.main,
.option {
  padding: 10px;
}

.title {
  text-align: center;
  padding: 25px;
}

.container {
  height: 100%;
}

.sidebar-left .option {
  background-color: white;
  margin: 3px;
  border-radius: 5px;
}

.sidebar-left {
  min-width: 15%;
  flex-direction: column;
  gap: 10px;
}

.menu-title {
  padding: 0px;
}

.menu-title h3 {
  padding: 10px;
  width: 25%;
  background-color: rgba(231, 231, 231, 0.521);
}

.box-options {
  flex-direction: column;
  gap: 5px;
}

.color-picker {
  align-items: center;
  gap: 20px;
}

#resetBtn {
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 3px;
}

.main {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.main .whiteboard {
  display: grid;
  height: 512px;
  width: 512px;
  background-color: white;
}

.box {
  border: 0.1px solid rgba(0, 0, 0, 0.103);
}
